# ansible/roles/nginx/templates/nginx.conf.j2
# Template de configuration nginx

# TODO E3: Compléter la configuration vhost ( server {} ):
# - listen 80 default_server
# - listen [::]:80 default_server;
# - server_name _;
# - root /var/www/html
# - index index.html
# - location / { try_files $uri $uri/ =404; }


